body{
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 1.5em;



    
}

a {
    text-decoration: none;
  }

  /* Cambia el color del enlace (opcional) */
  a {
    color: #c53678;
  }

  /* Agregar un estilo al pasar el cursor (opcional) */
  a:hover {
    color: #0056b3;
  }


.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    max-width: 1200px;
    padding: 20px;
}
.card {
    text-align: center;
    background: #fff;
    border: 1px solid #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    text-decoration: none;
}

.card2 {
    text-align: center;
    background: #fff;
    border: 1px solid #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    text-decoration: none;
}

.card3 {
    text-align: center;
    background: #fff;
    border: 1px solid #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    text-decoration: none;
}


.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgb(243, 247, 4);
}

.card2:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgb(255, 3, 3);
}

.card3:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgb(23, 248, 30);
}

.card img {
    width: 88%;
    height: 380px;
    object-fit: cover;
}

.card2 img {
    width: 88%;
    height: 380px;
    object-fit: cover;
}

.card3 img {
    width: 88%;
    height: 380px;
    object-fit: cover;
}



.card-content {
    padding: 15px;
}
.card-content h3 {
    margin: 0 0 10px;
    font-size: 1.25rem;
    color: #333;
}
.card-content p {
    margin: 0;
    color: #666;
    font-size: 0.95rem;
}

.footer{
    background-color:  rgb(255, 255, 255);
    padding:40px 20px;
    text-align: center;
    color: black;
}

.footer-container{
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 15px;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-conteiner div{
    flex: 1;
    padding: 10px;
}

.footer h3{
    font-size: 18px;
    margin-bottom: 25px;

}

.footer ul{
    list-style: none;
    padding: 0;
}

.footer ul li{
    margin-bottom: 10px;
}

.footer ul li a{
    color: black;
   text-decoration: none;
   transition : color 0.3s;
}

.footer ul li a:hover{
    color: white;
}

.footer-contact p{  /*Esta es la sección de contacto*/
    margin-bottom: 5px;
    color: rgb(0, 0, 0);
}

.footer-social a{
    display: inline;
    margin-right: 20px;
    width: 40px;
    height: 40px;
    overflow: hidden;
   
}

.footer-bottom {
    text-align: center;
    margin-top: 6px;
    border-top: 6px solid #000000;
    padding-top: 10px;
    font-size: 14px;
    color: #000000;
  }

