body{
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 165, 225);
    padding: 1.5em;



    
}



.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    max-width: 1200px;
    padding: 20px;
}
.card {
    text-align: center;
    background: #fff;
    border: 1px solid #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    text-decoration: none;
}

.card2 {
    text-align: center;
    background: #fff;
    border: 1px solid #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    text-decoration: none;
}

.card3 {
    text-align: center;
    background: #fff;
    border: 1px solid #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    text-decoration: none;
}


.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgb(243, 247, 4);
}

.card2:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgb(255, 3, 3);
}

.card3:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgb(23, 248, 30);
}

.card img {
    width: 88%;
    height: 380px;
    object-fit: cover;
}

.card2 img {
    width: 88%;
    height: 380px;
    object-fit: cover;
}

.card3 img {
    width: 88%;
    height: 380px;
    object-fit: cover;
}



.card-content {
    padding: 15px;
}
.card-content h3 {
    margin: 0 0 10px;
    font-size: 1.25rem;
    color: #333;
}
.card-content p {
    margin: 0;
    color: #666;
    font-size: 0.95rem;
}