.carousel-container{
    position: relative;
    width: 100%;
    overflow: hidden;
    background: rgb(255, 255, 255);
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.carousel{
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.box{
    min-width: 20px;
    text-align: center;
    padding: 10px;
  
}

.box img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.box p{
    margin-top: 10px;
    font-size: 16px;
}

/*Estos son los estilos de los botones de navegación*/
.arrow{
    position: absolute;
    

}